.columns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    justify-content: flex-start;
    text-align: left;
}

.columns-container h3 { width: 100%; margin-top: 0; font-size: 1.1em; color: #444; }
.columns-container > div { flex: 1 1 150px; }
.columns-container label { display: flex; align-items: center; gap: 5px; margin-bottom: 5px; font-size: 0.95em; }

#dupSensitive-columns, #regex-columns {
    margin-top: 15px;
}

#runDagBtn {
    padding: 14px 24px !important;
    border-radius: 6px !important;
    border: none ! ;
    background-color: #3498db !important;
    color: white !important;
    cursor: pointer !important;
}

#runDagBtn:hover {
    background-color: #2980b9;
}

/* #dagStatus {
    font-weight: bold;
    color: #3498db;
    margin-top: 10px;
}
.hidden {
    display: none;
} */

