.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* espace vertical entre chaque élément */
    padding: 30px; /* espace interne du conteneur */
}

#csvFile {
    width: 400px;
    padding: 8px;
}

#uploadBtn {
    padding: 14px 24px;
    border-radius: 6px;
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
}

#uploadBtn:hover {
    background-color: #2980b9;
}

#uploadStatus {
    font-weight: bold;
    color: #3498db;
}
